In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.random.randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [4]:
df

          W         X         Y         Z
A  2.119173  2.274650  0.928553 -0.757473
B  0.548907 -1.812456  1.165538  1.482694
C  0.174584  0.372064  1.291101  0.340545
D  0.875956  1.086392  0.673373  0.613625
E  0.009301 -1.175269  0.080830 -0.456879

In [5]:
df['W']

A    2.119173
B    0.548907
C    0.174584
D    0.875956
E    0.009301
Name: W, dtype: float64

In [6]:
df[['W','X','Z']]

          W         X         Z
A  2.119173  2.274650 -0.757473
B  0.548907 -1.812456  1.482694
C  0.174584  0.372064  0.340545
D  0.875956  1.086392  0.613625
E  0.009301 -1.175269 -0.456879

In [7]:
df['baru']=df['W']+df['Y']

In [8]:
df

          W         X         Y         Z      baru
A  2.119173  2.274650  0.928553 -0.757473  3.047726
B  0.548907 -1.812456  1.165538  1.482694  1.714444
C  0.174584  0.372064  1.291101  0.340545  1.465686
D  0.875956  1.086392  0.673373  0.613625  1.549328
E  0.009301 -1.175269  0.080830 -0.456879  0.090132

In [9]:
df.drop('A',axis=0) #untuk axis, 1: kolom, 0:baris

          W         X         Y         Z      baru
B  0.548907 -1.812456  1.165538  1.482694  1.714444
C  0.174584  0.372064  1.291101  0.340545  1.465686
D  0.875956  1.086392  0.673373  0.613625  1.549328
E  0.009301 -1.175269  0.080830 -0.456879  0.090132

In [10]:
df.drop('baru',axis=1,inplace=True)

In [11]:
df

          W         X         Y         Z
A  2.119173  2.274650  0.928553 -0.757473
B  0.548907 -1.812456  1.165538  1.482694
C  0.174584  0.372064  1.291101  0.340545
D  0.875956  1.086392  0.673373  0.613625
E  0.009301 -1.175269  0.080830 -0.456879

In [12]:
df.loc['B']

W    0.548907
X   -1.812456
Y    1.165538
Z    1.482694
Name: B, dtype: float64

In [13]:
df['W']

A    2.119173
B    0.548907
C    0.174584
D    0.875956
E    0.009301
Name: W, dtype: float64

In [14]:
df.iloc[0]

W    2.119173
X    2.274650
Y    0.928553
Z   -0.757473
Name: A, dtype: float64

In [15]:
df.loc['C','Z']

0.3405447005849576

In [16]:
df.loc[['B','C'],['W','X']]

          W         X
B  0.548907 -1.812456
C  0.174584  0.372064

In [17]:
df>0

      W      X     Y      Z
A  True   True  True  False
B  True  False  True   True
C  True   True  True   True
D  True   True  True   True
E  True  False  True  False

In [18]:
df[df>0]

          W         X         Y         Z
A  2.119173  2.274650  0.928553       NaN
B  0.548907       NaN  1.165538  1.482694
C  0.174584  0.372064  1.291101  0.340545
D  0.875956  1.086392  0.673373  0.613625
E  0.009301       NaN  0.080830       NaN

In [19]:
df[df['W']> 0][['Y','Z']]

          Y         Z
A  0.928553 -0.757473
B  1.165538  1.482694
C  1.291101  0.340545
D  0.673373  0.613625
E  0.080830 -0.456879

In [20]:
df[(df['W']>0) & (df['X']>1)]

          W         X         Y         Z
A  2.119173  2.274650  0.928553 -0.757473
D  0.875956  1.086392  0.673373  0.613625

In [21]:
df.reset_index()

  index         W         X         Y         Z
0     A  2.119173  2.274650  0.928553 -0.757473
1     B  0.548907 -1.812456  1.165538  1.482694
2     C  0.174584  0.372064  1.291101  0.340545
3     D  0.875956  1.086392  0.673373  0.613625
4     E  0.009301 -1.175269  0.080830 -0.456879

In [22]:
df

          W         X         Y         Z
A  2.119173  2.274650  0.928553 -0.757473
B  0.548907 -1.812456  1.165538  1.482694
C  0.174584  0.372064  1.291101  0.340545
D  0.875956  1.086392  0.673373  0.613625
E  0.009301 -1.175269  0.080830 -0.456879

In [24]:
dataLabels = ['G1','G1','G1','G2','G2','G2']
dataValue = [1,2,3,1,2,3]
data = list(zip(dataLabels,dataValue))

data=pd.MultiIndex.from_tuples()

TypeError: from_tuples() missing 1 required positional argument: 'tuples'